body {
  height: 100vh;
  padding: 50px 0%;

}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "poppins", sans-serif;

}

body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100hv;

    margin: 0;
    background: url("img.fondo.jpeg") no-repeat center / cover;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 700px;
    margin: auto;
    margin-top: 20px;
    box-sizing: border-box;
    background:rgba(233, 235, 156, 0.411);
    border-radius: 25px;
    padding: 10px 20px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin: 0;
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 18px;

} 

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100% ;
    border-radius: 15px;
}
    
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .enllaç-registre {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.enllaç-registre p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.enllaç-registre p a:hover {
    text-decoration: underline;
}

/* Estilos para pantallas pequeñas (hasta 480px) */
/*tenemos cien por cien de ancho*/
@media (max-width:480px){
    form{
        width: 100%;
    }
}