h4{
    font-size: 50px;
    font-style: oblique;
    font-weight: 7;
}
a{
    text-decoration: none;
    font-style: initial;
}
p{
    font-size: x-large;
    font-style:italic
}
.p1{
    font-size: large;
    font-style: normal;
    font-weight: bold;
}