@font-face {
    font-family: "sigmar";
    src: url("/BF2/E3/fuentes/Sigmar-Regular.ttf") format("sigmar");
    
    font-weight: bolder;
}
@font-face {
    font-family: "sigmar";
    src: url("/BF2/E3/fuentes/dancing\ script.ttf") format("sigmar");
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: "Sigmar-regular";
    font-weight: bolder;
}

p{
    font-family: "dancing script";
    font-weight: normal;
}