.logo{
    background-color: yellow;
    font-style: oblique;
}
.logo-1{
    font-size: x-large;
    text-align: left;
    text-transform: uppercase;
}
.text-bold{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    text-transform:none;
    font-size:x-large
}
.italic{
    font-style: italic;
}